/*
Reset some base stuff
*/
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div, p {
    padding: 0;
    margin: 0;
}

h2.fa {
    font-size: 30px;
}

/*
Header
*/
header {
    border-bottom: 1px solid gray;
    overflow: hidden;
    padding: 1%;
}
header h1 {
    float: left;
}
header nav {
    float: right;
    font-size: 1.5em;
}
header h1,
header nav,
header nav ul {
    margin-bottom: 0px;
    margin-top: 0px;
}
header nav ul li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}
header nav a:hover {
    text-decoration: none;
}

/*
Page sections
*/
div.sections {
    overflow: hidden;
    height: 100%;
}
div.even, div.odd {
    min-height: 20%;
    padding-right: 20%;
    padding-left: 20%;
    overflow: auto;
}
div.even {
    width: 100%;
}
div.odd {
    width: 100%;
}
div.transition1 {
    height: 15%;
    width: 100%;
}
div.transition2 {
    height: 15%;
    width: 100%;
}
div.even h2, div.odd h2 {
    margin-top: 0px;
}
div.spaced {
    padding-top: 30px;
    padding-bottom: 30px;
}
div.odd a {
    color: #428bca
}
div.odd a:hover {
    color: #1c94c4;
}
div.even a {
    color: #aaaaaa;
}
div.even a:hover {
    color: ghostwhite;
}

/*
Footer
*/
footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
footer p {
    letter-spacing: 3px;
}
footer ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
footer ul li a:hover {
    text-decoration: none;
}

/**
 * Custom styles
 */
.right {
    float: right;
    padding-left: 20px;
}
.left {
    float: left;
    padding-right: 20px;
}
img.thumb {
    border: 1px solid gray;
    border-radius: 20px;
}

/**
 * Contact
 */
#Contact {
    padding-right: 20%;
    padding-left: 20%;
    overflow: hidden;
}
#Contact ul {
    list-style-type:  none;
    padding-left: 0px;
}
#Contact ul span.text {
    padding-bottom: 30px;
    vertical-align: middle;
}
#Contact ul li {
    padding-bottom: 10px;
}
#Contact a:hover,
#Contact a:focus {
    text-decoration: none;
}